In [79]:
import pandas as pd
import numpy as np
from datetime import datetime
import warnings
warnings.filterwarnings("ignore")

In [80]:
Huff_abc = pd.read_csv('HuffPost+abc.csv')

In [81]:
Huff_abc = Huff_abc.drop('Unnamed: 0', 1)

In [82]:
NPR = pd.read_csv('NPR 2016 to 2020.csv')

In [83]:
Onion = pd.read_csv('onion_headlines.csv')

In [84]:
Guardian = pd.read_csv('Guardian 2017 to 2020.csv')

In [85]:
nottheonion = pd.read_csv('nottheonion_2020.csv')

In [86]:
Onion = Onion[['headlines','date','source']]
Onion['is_sarcastic'] = 1
Onion.date = pd.to_datetime(Onion.date, format='%m/%d/%Y')
Onion.columns = ['headline','date','source','is_sarcastic']

In [87]:
Guardian = Guardian[['title','date','source']]
Guardian['is_sarcastic'] = 0
Guardian.date = pd.to_datetime(Guardian.date, format='%m-%d-%Y')
Guardian.columns = ['headline','date','source','is_sarcastic']

In [88]:
NPR = NPR[['title','date','source']]
NPR['is_sarcastic'] = 0
NPR.date = pd.to_datetime(NPR.date, format='%B-%d-%Y')
NPR.columns = ['headline','date','source','is_sarcastic']

In [89]:
nottheonion['date'] = nottheonion['date'].apply(lambda x: datetime.utcfromtimestamp(int(x)).date())

In [90]:
nottheonion = nottheonion[['title','date','source']]
nottheonion['is_sarcastic'] = 0
nottheonion.columns = ['headline','date','source','is_sarcastic']

In [91]:
Huff_abc

,headline,date,source,is_sarcastic
0,former versace store clerk sues over secret 'b...,2019-01-01,Huffington Post,0
1,the 'roseanne' revival catches up to our thorn...,2019-01-01,Huffington Post,0
2,j.k. rowling wishes snape happy birthday in th...,2019-01-01,Huffington Post,0
3,advancing the world's women,2019-01-01,Huffington Post,0
4,the fascinating case for eating lab-grown meat,2019-01-01,Huffington Post,0
...,...,...,...,...
283782,vision of flames approaching corryong in victoria,2019-12-31,ABC Australia,0
283783,wa police and government backflip on drug amne...,2019-12-31,ABC Australia,0
283784,we have fears for their safety: victorian premier,2019-12-31,ABC Australia,0
283785,when do the 20s start,2019-12-31,ABC Australia,0
283786,yarraville shooting woman dead man critically ...,2019-12-31,ABC Australia,0

In [92]:
frames = [Huff_abc, NPR, Onion, Guardian, nottheonion]
df = pd.concat(frames,axis=0)
df.to_csv('Combined Data.csv')

In [94]:
National_Report = pd.read_csv('national_report.csv')

In [95]:
Atlantic = pd.read_csv('atlantic_cleaned.csv')

In [96]:
Reductress = pd.read_csv('reductress_cleaned.csv')

In [97]:
National_Report['source'] = 'National_Report'

In [98]:
National = National_Report[['Headlines','Dates','source']]
National['is_sarcastic'] = 1
National['Dates'] = pd.to_datetime(National.Dates, format='%d-%b-%y')
National.columns = ['headline','date','source','is_sarcastic']

In [99]:
Atlantic['source'] = 'Atlantic'
Atlantic['is_sarcastic'] = 0
Atlantic['date'] = pd.to_datetime(Atlantic.date)

In [100]:
Reductress['source'] = 'Reductress'
Reductress['is_sarcastic'] = 1
Reductress.columns = ['headline','date','source','is_sarcastic']

In [105]:
frames = [df, National, Atlantic, Reductress]
df = pd.concat(frames,axis=0)

In [112]:
df.to_csv('Combined Data v2.csv')